@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  transition: .3s;
  padding: .5rem;
}

button:hover {
  cursor: pointer;
  scale: 1.1;
  filter: brightness(.85);
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.btns {
  display: flex;
  gap: 1.2rem;
}

.footer,
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer {background: #eee;}

ul {
  list-style: none;
  margin: 1rem;
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: #555;
}